/* your styles will go here!! */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
  }
  
  body {
    background-color: aliceblue;
  }

  h2 {
    color:rgb(6, 22, 248);
    text-align:center;
    font-weight: 200;
    padding: 15px;
  }

  p {
    color: rgb(68, 123, 206);
    word-spacing: 0.10em;
    line-height: 1.4;
    text-align: center;
    padding: 35px;
  }

  img {
    align-content: center;
    padding: 10px 10px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

nav {
    text-align: center;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkblue;
}
